+media(any)

  .form
    padding-top: 18px
    &--add
      width: 407px
      .form__elem
        padding-top: 16px
        &--button
          padding-top: 34px
    &__elem
      display: flex
      align-items: flex-end
      padding-top: 10px
      &:first-child
        padding-top: 0
      &--button
        padding-bottom: 4px
      &_item
        flex: 1
        margin-left: 22px
        &:first-child
          margin-left: 0
        &--login
          flex: .35

  .label
    display: block
    &__name
      display: inline-block
      cursor: pointer
      font-size: 14px
      line-height: 1
      color: #0F5A93
      padding-bottom: 6px

  .fields
    display: block
    width: 100%
    box-sizing: border-box
    appearance: none
    height: 35px
    background: #F5F9FC
    border: 1px solid #DCE7EF
    border-radius: 3px
    padding: 0 10px
    font-size: 14px
    transition: border .1s linear
    &:focus
      border-color: darken(#DCE7EF, 20%)

  .button
    display: inline-flex
    appearance: none
    box-sizing: border-box
    height: 35px
    background: #1A9BF9
    border-radius: 5px
    border: none
    color: colors.white
    text-align: center
    padding: 0 15px
    text-decoration: none
    font-size: 14px
    line-height: 1
    justify-content: center
    align-items: center
    transition: background .1s
    &--full
      width: 100%
    &:hover
      background: darken(#1A9BF9, 10%)
    &--big
      height: 44px
      font-size: 16px
    &--right
      float: right
    &--width
      width: 140px
    &--border
      background: none
      border: 1px solid rgba(28, 156, 249, 0.2)
      color: #155993
      &:hover
        background: rgba(#1A9BF9, .1)

  .button-group
    padding-top: 30px
    text-align: right
    .button
      margin-left: 20px