+media(any)

  .head
    border-bottom: solid 1px rgba(102,119,136,.2)
    &__elem
      display: flex
      justify-content: space-between
      height: 60px
      align-items: center
    &__logo
      display: inline-block
      text-decoration: none
      color: #000
      font-size: 1.25rem
      line-height: 60px
      font-weight: bold
      letter-spacing: .02em