+media(any)

  .table
    border: 1px solid #D0DDE7
    border-bottom: none
    display: table
    width: 100%
    margin-top: 21px
    &__row
      display: table-row
      transition: background .1s linear
      &:hover
        background: #DCF8FF
    &__td
      display: table-cell
      border-bottom: 1px solid #D0DDE7
      font-size: 14px
      line-height: 1.3
      color: #2C2C2C
      position: relative
      &--th
        font-weight: bold
        color: #155A95
        background: #F5F9FC
      div
        padding: 8px 30px
        cursor: pointer