+media(any)

  .user
    font-size: 16px
    line-height: 1
    color: #B0D8F7

  .list-user
    padding-top: 66px
    &__head
      display: flex
      justify-content: space-between
      align-items: center
      &_count
        font-size: 14px
        line-height: 1
        color: #3E79A3
      &_add
        text-decoration: none
        display: inline-block
        font-size: 16px
        line-height: 1
        color: #1A9BF9
        position: relative
        &:before
          content: ""
          width: 22px
          height: 16px
          background: url(paths i-add-user.svg) no-repeat
          margin: auto
          position: absolute
          top: 0
          right: 100%
          bottom: 0
          margin-right: 15px

