+media(any)

  .main
    &__container
      display: flex
      position: relative
      &_logo
        width: 260px
        height: 69px
        background: colors.default url(paths logo-main.svg) no-repeat center
        centered: true
        margin-top: -8px
        position: absolute
        top: 0
        left: 0
        right: 0
        transform: translateY(-50%)
      &_fieldset
        width: 1550px
        height: 516px
        border: 1px solid rgba(15, 90, 147, 0.3)
        box-sizing: border-box
        border-radius: 5px
        display: flex
        align-items: center
        justify-content: center