+media(any)

  .modal
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0
    z-index: 9999
    display: flex
    justify-content: center
    align-items: center
    &__bg
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      opacity: .4
      background: darken(colors.default, 15%)
    &__title
      font-size: 16px
      line-height: 1.3
      font-weight: bold
      color: #14598D
    &__content
      position: relative
      z-index: 2
      padding: 20px
    &__close
      position: absolute
      top: 10px
      right: 10px
      cursor: pointer
      width: 13px
      height: 13px

  .modal-enter-active
  .modal-leave-active
    transition: opacity .25s, transform .25s

  .modal-enter
  .modal-leave-to
    opacity: 0
    transform: scale(1.2)