+media(any)

  *
    outline: none

  a
    color: colors.link
    text-decoration: none
    &:hover
      text-decoration: none

  body, html
    height: 100%
    background: colors.default
    text-style: text.sans-body

  .page
    width: 940px
    centered: true

  .fade-enter-active
  .fade-leave-active
    transition: opacity .2s
  
  .fade-enter
  .fade-leave-to
    opacity: 0

  .box
    border-radius: 4px
    background: #fff
    box-shadow: 0 6px 8px rgba(102,119,136,.03), 0 1px 2px rgba(102,119,136,.3)

  .form
    position: relative

  .form-input
    height: 64px
    padding: 0 30px
    border: none
    width: 100%
    font-size: 19px

  .button
    padding: 7px 30px
    appearance: none
    border-radius: 4px
    border: none
    background-color: colors.bg
    background: linear-gradient(5deg, colors.bg, colors.bg2)
    color: colors.white
    height: 40px
    &:hover
      background: darken(colors.bg, 10%)
    &:active
      background: darken(colors.bg, 20%)

  .form-button
    margin: auto
    absolute: top 0 bottom 0 right 12px

  .scrollbar
    height: 200px
    margin: 30px 0
    p
      padding: 20px

  .post
    display: flex
    flex-wrap: wrap
    &__item
      padding: 20px 20px 35px
      flex: 1
      flex-basis: 20%
      margin: 10px
      font: 16px/1.4 Arial
      position: relative
    &__pic
      height: 300px
      background: darken(#F1F3F5, 10%)
      margin: -20px -20px 0
      display: flex
      justify-content: center
      align-items: center
    &__title
      font: 18px/1.3 Arial
      padding: 20px 0
    &__button
      position: absolute
      bottom: 0
      left: 0
      right: 0
      background: colors.bg
      color: colors.white
      height: 40px
      box-sizing: border-box
      padding: 0 20px
      line-height: 40px
      &--disabled
        background: darken(#F1F3F5, 10%)
        color: darken(#F1F3F5, 50%)

  .pagination
    list-style: none
    display: flex
    justify-content: center
    margin: 40px 0
    &__item
      margin: 0 10px
      &.active
        background: colors.bg
        a
          color: colors.white
    a
      display: block
      padding: 10px 15px
      user-select: none

  .tag
    margin-left: -15px
    &__item
      display: inline-block
      background: darken(#F1F3F5, 7%)
      color: darken(#F1F3F5, 35%)
      text-decoration: none
      padding: 7px 15px
      border-radius: 4px
      margin: 15px 0 0 15px
      transition: background .1s linear
      &:hover
        background: darken(#F1F3F5, 10%)
      &:active
        background: darken(#F1F3F5, 12%)

  .sale
    background: darken(#F1F3F5, 2%)
    padding: 100px 0