<template>
  <header class="head">
    <div class="page">
      <div class="head__elem">
        <div class="head__elem_item">
          <router-link to="/" class="head__logo">lomontin</router-link>
        </div>
        <div class="head__elem_item">
          <Menu />
        </div>
      </div>
    </div>
  </header>
</template>