<template>
  <div class="home">
    <div :class="{sale: isSale}">
      <div class="page">
        <form class="form" v-on:submit.prevent="addUser(add)">
          <input
            type="text"
            placeholder="Поиск..."
            class="box form-input"
            v-model.trim="add.search"
          />
          <button class="button form-button">Найти</button>
        </form>
        <div class="tag">
          <a href="#" class="tag__item">Вещи</a>
          <a href="#" class="tag__item">Игрушки</a>
          <a href="#" class="tag__item">Посуда</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  data() {
    return {
      isSale: false
    };
  },
  computed: {
    ...mapGetters(["getUser"]),
    add: {
      get() {
        return this.getUser;
      },
      set(value) {
        return this.$store.commit("addUser", value);
      }
    }
  },
  methods: mapActions(["addUser"])
};
</script>