<template>
  <nav class="nav">
    <ul class="nav__ul">
      <li class="nav__li" v-for="(item, index) in data" :key="index">
        <router-link class="nav__a" :to="item.path">{{ item.name }}</router-link>
        <ul v-if="item.children">
          <li v-for="(itm, i) in item.children" :key="i">
            <router-link :to="`${item.path}/${itm.path}`">{{ itm.name }}</router-link>
          </li>
        </ul>
      </li>
      <li class="nav__li">
        <a href="#" class="nav__a" v-on:click.prevent="isModal = true">Войти</a>
      </li>
    </ul>

    <transition mode="out-in" name="modal">
      <div class="modal" v-if="isModal">
        <div class="modal__bg" v-on:click="isModal = false"></div>
        <div class="box modal__content">
          <div class="modal__title">
            <button v-on:click="isModal = false" class="button">Закрыть</button>
          </div>
        </div>
      </div>
    </transition>
  </nav>
</template>

<script>
export default {
  data() {
    return {
      data: {},
      isModal: false
    };
  },
  created: function() {
    this.data = this.$router.options.routes;
  }
};
</script>