<template>
  <div class="about">
    <div class="page">
      <div class="post">
        <div class="box post__item" v-for="(item, index) in getPost" :key="index">
          <div class="post__pic">
            <Loader />
          </div>
          <div class="post__content">
            <div class="post__title">{{ item.title }}</div>
            <a href="#" class="post__button" v-if="item.completed">В корзину</a>
            <span class="post__button post__button--disabled" v-else>Нет в наличии</span>
          </div>
        </div>
      </div>
      <Paginate
        :page-count="20"
        :page-range="3"
        :margin-pages="2"
        :click-handler="addPost"
        :prev-text="'Назад'"
        :next-text="'Вперед'"
        :container-class="'pagination'"
        :page-class="'box pagination__item'"
        :next-class="'box pagination__item'"
        :prev-class="'box pagination__item'"
      />
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  computed: mapGetters(["getPost"]),
  methods: mapActions(["addPost"]),
  created: function() {
    this.addPost();
  }
};
</script>
