//Размеры
sizes.vertical-step = 9px  // вертикальный ритм

//Палитра
colors.default = #F1F3F5   // Светло Синий
colors.white   = #fff      // Белый
colors.text    = #000      // Черный
colors.link    = #745fb5   // Синий
colors.grid    = #000      // Черный
colors.bg      = #745fb5
colors.bg2      = #9066b8

// Путь
paths = "../assets/"

// Шрифтовые стили
fonts.pt-sans = font-stack("PT Sans", serif)

text.sans-body = {
  font-family: fonts.pt-sans,
  font-size: 16px,
  line-height: 1.3
}

// Merri
webfonts.pt-sans-regular = {
  font-family: "PT Sans",
  font-file: "pt-sans/regular.%s",
  font-style: normal,
  font-weight: normal
}

webfonts.pt-sans-bold = {
  font-family: "PT Sans",
  font-file: "pt-sans/bold.%s",
  font-style: normal,
  font-weight: bold
}